In [73]:
# Suppose we have a data of 2d list, each row contains name, phone and salary
employees = [['John Smith', '1234567890', 100],
             ['Jane Doe', '2345678901', 200],
             ['', '3456789012', 500],
             ['Melody Pond', 'aa7890123', 300],
             ['Dean Winchester', '56A89A123A', 1000],
             ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 3000]]

In [37]:
def do_nothing(employees):
    pass
def clean_employees(employees, clean_name=do_nothing, clean_phone=do_nothing, clean_salary=do_nothing):
    clean_name(employees)
    clean_phone(employees)
    clean_salary(employees)

In [38]:
def emtpy_2_default(employees):
    for employee in employees:
        if employee[0] == '':
            employee[0] = 'Doe'
clean_employees(employees, clean_name=emtpy_2_default)
print(employees)

[['John Smith', '1234567890', 100], ['Jane Doe', '2345678901', 200], ['Doe', '3456789012', 500], ['Melody Pond', 'aa7890123', 300], ['Dean Winchester', '56A89A123A', 1000], ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 1500]]

In [39]:
def truncate_longname(employees):
    for employee in employees:
        if len(employee[0]) > 20:
            employee[0] = employee[0][0:20]
clean_employees(employees, clean_name=truncate_longname)
print(employees)

[['John Smith', '1234567890', 100], ['Jane Doe', '2345678901', 200], ['Doe', '3456789012', 500], ['Melody Pond', 'aa7890123', 300], ['Dean Winchester', '56A89A123A', 1000], ['Jodie Whiterrrrrrrrr', '6789012345', 1500]]

In [58]:
def digit_converter(employees):
    for row in employees:
        row[1] = ''.join(list(map(lambda x : x if x.isdigit() else '0', row[1])))
clean_employees(employees, clean_phone=digit_converter)
print(employees)

a a A A A [['John Smith', '1234567890', 100], ['Jane Doe', '2345678901', 200], ['', '3456789012', 500], ['Melody Pond', 'aa7890123', 300], ['Dean Winchester', '56A89A123A', 1000], ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 1500]]

In [61]:
def fix_salary(employees):
    for row in employees:
        if row[2] < 200:
            row[2] = 200
        if row[2] > 2000:
            row[2] = 2000
clean_employees(employees, clean_salary=fix_salary)
print(employees)

[['John Smith', '1234567890', 200], ['Jane Doe', '2345678901', 200], ['', '3456789012', 500], ['Melody Pond', 'aa7890123', 300], ['Dean Winchester', '56A89A123A', 1000], ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 2000]]

In [68]:
def nondigit_2provious(employees):
    for row in employees:
        phone = [c for c in row[1]]
        phone[0] = phone[0] if phone[0].isdigit() else '0'
        for i in range(1, len(phone)):
            phone[i] = phone[i] if phone[i].isdigit() else phone[i-1]
            row[1] = ''.join(phone)
clean_employees(employees, clean_phone=nondigit_2provious)
print(employees)

[['John Smith', '1234567890', 100], ['Jane Doe', '2345678901', 200], ['', '3456789012', 500], ['Melody Pond', '007890123', 300], ['Dean Winchester', '5668991233', 1000], ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 15000]]

In [74]:
def abcd(employees):
    sum = 0
    for employee in employees:
        sum += employee[2]
    avr = sum / len(employees)
    for employee in employees:
        if employee[2] < 200:
            employee[2] = avr
        if employee[2] > 2000:
            employee[2] = avr
clean_employees(employees, clean_salary=abcd)
print(employees)

[['John Smith', '1234567890', 850.0], ['Jane Doe', '2345678901', 200], ['', '3456789012', 500], ['Melody Pond', 'aa7890123', 300], ['Dean Winchester', '56A89A123A', 1000], ['Jodie Whiterrrrrrrrrrrrrrrrrrrrrrrrr', '6789012345', 850.0]]

In [77]:
# generator is cnsidered as a function, but it returns an iterator
my_list = [x for x in range(10)]            # list comprehension
my_generator = [x for x in range(10)]       # generator expression

In [78]:
print(sum(my_list))
print(sum(my_generator))

45
45

In [79]:
import random as rd
numbers = [rd.randint(1, 100) for _ in range(20)]
print(numbers)

[57, 91, 50, 73, 87, 55, 10, 41, 31, 1, 50, 73, 79, 80, 36, 34, 59, 1, 46, 27]

In [122]:
# calculate sum of even numbers
even_list = [x for x in numbers if x % 2 == 0] # list comprehension
evens_gen = (x for x in numbers if x % 2 == 0) # generator

In [124]:
print(sum(even_list))
print(sum(evens_gen))

306
0

In [102]:
def my_filter(f, items):
    for i in items:
        if f(i):
            yield i

In [128]:
sum_even = sum(my_filter(lambda x : x % 2 == 0, numbers))
print(sum_even)

306

In [131]:
pizza_solds = [['John', '10:00', 15],
               ['Paul', '11:00', 20],
               ['George', '12:00', 18],
               ['Ringo', '13:00', 22]]
price = 5.5
number_pizzas = (x[2] for x in pizza_solds)
incomes = (n * price for n in number_pizzas)
print('Total: ', sum(incomes))

Total:  412.5

In [132]:
def rec_fibonacci(n):
    if n < 2:
        return n
    return rec_fibonacci(n - 1) + rec_fibonacci(n - 2)

In [136]:
def fibo_gen():
    a, b = 0,  1
    while True:
        yield a
        a, b = b, a + b

In [138]:
def fibonacci(n):
    i = 0
    for f in fibo_gen():
        if i == n:
            return f
        i += 1

In [140]:
for i in range(50):
    print(fibonacci(i), end=' ')
    if (i + 1) % 10 == 0:
        print()

0 1 1 2 3 5 8 13 21 34
55 89 144 233 377 610 987 1597 2584 4181
6765 10946 17711 28657 46368 75025 121393 196418 317811 514229
832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986
102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049